HRIQ_PORTAL_URL=
HRIQ_RDL_DIR=C:\Users\HRteam\Desktop\Lance\HR\RDL
HRIQ_PARSED_DIR=C:\Users\HRteam\Desktop\Lance\HR\RDL_Parsed
HRIQ_ARCHIVE_DIR=C:\Users\HRteam\Desktop\Lance\HR\RDL_Archives
HRIQ_DEVELOPMENT_MODE=false
HRIQ_BROWSER_HEADLESS=true
HRIQ_AUTH_MODE=automatic
HRIQ_SSRS_ROOT_FOLDER=GOLDBELL

ZIP_MAX_ENTRIES=20000
ZIP_MAX_RDL_SIZE_MB=100
ZIP_MAX_TOTAL_UNCOMPRESSED_MB=5000
ZIP_MAX_COMPRESSION_RATIO=200

HRIQ_DB_SERVER=
HRIQ_DB_NAME=
HRIQ_DB_DRIVER=ODBC Driver 18 for SQL Server
HRIQ_DB_USERNAME=
HRIQ_DB_PASSWORD=
HRIQ_DB_TRUST_CERTIFICATE=yes

SQL_ROW_LIMIT=500
SQL_TIMEOUT_SECONDS=30
DOWNLOAD_WORKERS=3
